{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block content %}




    <div class="produtos-card">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="main-title">Produtos</h2>
                    </div>
                    {% for produtos in produto %}
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem">
                            <a href="{% url 'produto' name=produtos.descricao cod=produtos.codProduto %}">
                                <img src="{{produtos.imgProduto.url}}" class="card-img-top img-produto" alt=""></a>
                            <div class="card-body">
                                <h2 class="card-title" id="nome-produto">{{produtos.descricao}}</h2>
                                <p class="card-text" id="preco-produto">R${{produtos.valorUnitario}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}  
            </div>
        </div>
    </div>
</div>


      

{% endblock %}





