{% extends 'base.html' %}
{% block title %} {{produtos.descricao}} {% endblock %}

{% block content %}
    <div class="container-compra">

        <img src="{{produtos.imgProduto.url}}" class="card-img-top info-produto" alt="">   
                            
        <div style="width: 600px">
            <form method="POST" class="compra-descricao">
            {% csrf_token %}
            <h1 class="card-title compra-descricao">{{produtos.descricao}}</h1>
            <h4 class="compra-preco"></p>R${{produtos.valorUnitario}}</h4>
            <p class="compra-descricao">{{produtos.infProduto}}</p>
            <div style="display: flex; align-items: baseline;gap: 30px;">
                <span class="">Disponível: {{produtos.qtdEstoque}}</span>
                <span class="">Quantidade: <input name="qtd" type="number" value="0" max="{{produtos.qtdEstoque}}" min="0" step="1"></span>
            </div>
            
            {% if user.is_authenticated %}
                <input type="submit" class="btn btn-success mt-3 btn-lg" id="cart" value="Comprar" name="addcart"></input>
            
            {% else %}
                <a href="/login/?next={{request.path}}" class="btn btn-success mt-3 btn-lg">Comprar</a>
            {% endif %}

            </form>
            
        </div>
 
    </div>
{% endblock %}