body{
    background-color: aliceblue;
    font-family: sans-serif;
}
h1
{
    color: blueviolet;
}
.row{
    margin: 0;
}
.container{
    padding: 70px 0;
   
}
p, li{
    color: rgb(209, 128, 35);
    font-size: 14px;
}
/*Barra de navegação*/
header, .navbar{
    background-color: #0A0030;
}
#nav-container{
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 70px;
}
#logo{
    width: 75px;
}
.nav-brand{
    padding: 0;
    color: rgb(255, 255, 255);
    

}
#navbar-links a{
    color: rgb(255, 255, 255);
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}
#carrinho_de_compra{
    margin-right: 80px;
}
#persona-menu{
    margin-left: 20px;
    margin-right: 20px;
}
#barra_de_pesquisa{

    margin-left: 300px;
    width: 500px;
    
}
footer{
    bottom: 0;
    position: relative;
    width: 100%;
    text-align: center;
}
/* .main-content{
    background: blue;
    padding-top: 0;
}
.main-content-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: var(--spacing-gutter-large);
}

.temp{
    height: 20rem;
    background: red;
} 
header{
    margin-bottom: 180px
}
.card{
    display: inline-block;
    margin: 60px;
    width: 300px;
    height: 300px;
}*/
.card{
    margin-top: 20px;
}

