/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: aliceblue;
    font-family: sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

/* p,
li {
    color: rgb(209, 128, 35);
    font-size: 14px;
} */

/*Barra de navegação*/
header,
.navbar {
    background-color: #0a0030;
}

.navbar {
    display: block;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 140px;
}

#logo {
    width: 75px;
    margin-left: -12px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 50px;
}

.nav-brand {
    padding: 0;
    color: rgb(255, 255, 255);
}

#search {
    display: flex;
}

/* .icon-search {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    border: none;
    color: #6c759a;
    background: transparent;
    outline: none;
    margin-right: 14px;
} */

#navbar-links a {
    color: rgb(255, 255, 255);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem 0.8rem;
}

#persona-menu {
    margin-left: 20px;
    margin-right: 20px;
}

#barra-pesquisa {
    width: 500px;
}

/* Main */
.card {
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: -10px 10px 15px rgb(0, 0, 0, 0.4);
    transform: scale(1);
    transition: all 300ms ease-in-out;
    max-height: 330px;
}

.card:hover {
    transform: scale(1.2);
}

.nome-produto {
    /* color: #0a0030;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center; */
    font-size: 26px;
}

.preco-produto {
    font-size: 24px;
}

.img-produto {
    width: 100%;
    height: 100%;
}

/* Detalhe produto */

.info-produto{
    height: 400px;
    width: 400px;
    margin-right: 50px;
    margin-top: 0;
    margin-bottom: 80px;

}

.container-compra{
    display: flex;
    justify-content: center;
    gap: 37px;
}

.compra-descricao{
    padding-top: 8px;
}

.compra-descricao form{
    padding-top: 20px;
}

.compra-preco, h4.compra-preco{
    font-size: 35px;
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.menuIc{
list-style:none;
float:left;
text-align: center;
}

.menuIc li{
position:relative;
float:left;
}

.menuIc li a{color:#333; text-decoration:none; display:block;}

.menu li a:hover{
background:#333;
color:#fff;
-moz-box-shadow:0 3px 30px 0 #CCC;
-webkit-box-shadow:0 3px 30px 0 #ccc;
text-shadow:0px 0px 3px #fff;
}

.menuIc li  ul{
position:absolute;
left:0;
background-color:#0a0030;
display:none;
}
.menuIc li:hover ul, .menu li.over ul{display:block;}

.menuIc li ul li{
width:50px;
}